* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 120px;
    white-space: pre;
}
h1 span {
    display: inline-block;
}