* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1542349314-b0ceb4d90f2d?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#nav {                               
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color:#fff;
}

#nac h2 {
    font-size: 30px;
}

#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full {
    height:100%;
    width: 40%;
    position: absolute;
    background-color: rgba(102, 119, 113, 0.493);
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 100px 50px;

}

#full h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top:5%;
    right:5%;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

