* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, 
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

#page1, #page2, #page3 {
    height: 100vh;
    width:100%;
}

#move {
    background-color: #D8FF04;
    display: flex;
    padding : 2vw 0;
    overflow: hidden;
}

.marque {
    display: flex;
    align-items : center;
    flex-shrink: 0;
    gap: 3vw;
    padding : 0 1.5vw;
    transform: translateX(-100%);
}

.marque h1 {
    font-size: 4vw;
    white-space: nowrap;
}

.marque img {
    height:4vw;
}