* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width:100%;
    background-color: black;
    color : white;
}

#main {
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: antiquewhite;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    color: black ;
    font-size: 5px;
    display: flex;
    justify-content : center;
    align-items: center;
    text-align: center;
}

#image {
    height: 30vw;
    width: 70vw;
    position: relative
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    background-color:transparent ;
    height:100%;
    width:100%;
    position: absolute;
    z-index: 10;
}